
@mixin go-away {
	animation: outLeft 1s ease forwards;

  &.n {
    animation-delay: 0.1s;
  }

  &.d {
    animation-delay: 0.2s;
  }

  &.y {
    animation-delay: 0.3s;
  }

  &.n2 {
    animation-delay: 0.5s;
  }

  &.a2 {
    animation-delay: 0.6s;
  }

  &.p {
    animation-delay: 0.7s;
  }

  &.p2 {
    animation-delay: 0.8s;
  }
}

@mixin slide-left {
  animation: slideLeft 1s 0.4s ease forwards;
}

@mixin out-left {
  animation: outLeft 1s ease forwards;
}


@keyframes outLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

  50% {
    opacity: 0.75;
		transform: translateX(0);
  }

	100% {
		opacity: 0.25;
		transform: translateX(-100%);
	}
}


@keyframes slideLeft {
	from {
		transform: scaleX(1) translateX(0);
	}

	to {
		transform: scaleX(1) translateX(-10em);
	}
}
