$delay: 0.025s;
$time: 0.04s;
$animationTime: $time + 0.01s;

@mixin fade-out {
	animation: fadeOut $animationTime ease-in forwards;

  &.p2 {
    animation-delay: 0;
  }

  &.p {
    animation-delay: $time;
  }

  &.a2 {
    animation-delay: $time * 2;
  }

  &.n2 {
    animation-delay: $time * 3;
  }

  &.y {
    animation-delay: $time * 4;
  }

  &.d {
    animation-delay: $time * 5;
  }

  &.n {
    animation-delay: $time * 6;
  }
}


@mixin slide-left {
  animation: slideLeft $animationTime * 3 $time * 4 ease-in forwards;
}


@keyframes fadeOut {
	0% {
		opacity: 1;
		// transform: translateY(0);
		// fill: $color-orange;
	}

	50% {
		//opacity: 0.25;
		// transform: translateY(50%);
		// fill: $color-green-retro;
	}

	75% {
		//opacity: 0;
		// transform: translateY(75%);
		// fill: $color-blue;
	}

	100% {
		opacity: 0;
		// transform: translateY(100%);
		// fill: $color-red;
	}
}


@keyframes slideLeft {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-35%);
	}
}
