// Colors
$color-black: #212121;
$color-white: #fafafa;
$color-blue: #2467d2;

$color-green: rgb(109, 204, 122);
$color-green-retro: rgb(161, 212, 97);

$color-orange: rgb(242, 105, 62);

$color-red: rgb(235, 77, 85);
$color-red-a: rgb(247, 92, 79);



$color-black-1: #1c1c1c;

$gray: #888888;
$gray-1: #444;



$blue-dark: #21547F;
$blue-light: #04B7E3;



$gray-dark: #6B6B6B;
$gray-lightest: #F1F5F7;
$gray-blue: #3A3A52;
$red: #EE2F25;
$orange: #F6A623;
$yellow: #F5C96A;

// Sizes
$footer: 5.5em;
$header: (48/16)*1em;
$header-l: 5em;
$nav-width: 10em;
$timeline-width: 6em;

$gap: 2em;

// Break Points
$bp-m: 43em;
$bp-bg: 50em;
$bp-nav: 66em;
$bp-max-font: 68em;
$bp-nav-big: 83em;
$bp-l: 87.5em;



$bp-res: 30em;
