// Colors
$color-black: #212121;
$color-white: #fafafa;
$color-blue: #1765BF;

$color-orange: #B72B28;

$color-gray: #5d5c5c;
$color-gray-1: #444;

$color-gray-1dark: #6B6B6B;
$color-gray-1lightest: #F1F5F7;
$color-gray-1blue: #3A3A52;


// Sizes
$footer: 5.5em;
$header: (48/16)*1em;
$header-l: 5em;
$nav-width: 10em;
$timeline-width: 6em;

$gap: 2em;

// Break Points
$bp-m: 43em;
$bp-bg: 50em;
$bp-nav: 66em;
$bp-max-font: 68em;
$bp-nav-big: 83em;
$bp-l: 87.5em;



$bp-res: 30em;
