<section id="experience" class="">
  <div class="container-content">
    <section class="divider lead">
      <h2 class="headline-sub">Web Design & Development Experience</h2>
    </section>

    {% for item in collections.experience | where("section", "web") %}
    <section class="experience-block">
      <header class="experience-header">
        <div class="header-group">
          {% if item.data.company %}
          <h2 class="headline-xs">{{ item.data.title }}</h2>
          <h3 class="title-m">{{ item.data.company }}</h3>
          {% else %}
          <h2 class="title-m">{{ item.data.title }}</h2>
          {% endif %}
        </div>
        <p class="headline-sub">{{ item.data.dates }}</p>
      </header>
      <div class="experience-description">
        {{ item.templateContent | safe }}
      </div>
    </section>
    {% endfor %}

    <section class="divider">
      <h2 class="headline-sub">Marketing & Advertising Experience</h2>
    </section>

    {% for item in collections.experience | where("section", "marketing") %}
    <section class="experience-block">
      <header class="experience-header">
        <div class="header-group">
          {% if item.data.company %}
          <h2 class="headline-xs">{{ item.data.title }}</h2>
          <h3 class="title-m">{{ item.data.company }}</h3>
          {% else %}
          <h2 class="title-m">{{ item.data.title }}</h2>
          {% endif %}
        </div>
        <p class="headline-sub">{{ item.data.dates }}</p>
      </header>
      <div class="experience-description">
        {{ item.templateContent | safe }}
      </div>
    </section>
    {% endfor %}
  </div>
</section>
