{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 100,
        "cursorOffset": -1,
        "singleQuote": false
      }
    }
  ]
}
