html, body {
	height: 100%;
  min-width: 100%;
	background-color: white;
}


// structure
[class*='container-'] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
	padding-right: 1em;
  &.clear:after {
    @include clear;
  }
}

/* common flexbox classes */
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}

.sticky-module {
	position: sticky;
	&.center {
		text-align: center;
	}
	&.top {
		display: flex;
		top: 0;
		height: $header;
		z-index: 1;
		background-color: white;

		.title-m,
		.headline-s {
			margin: auto;
		}
	}
}

.sticky-container {
	position: sticky;
	width: 100%;
	margin-top: 100vh;
  z-index: 1;
  background-color: white;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"main"
		"contact"
		"footer";
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.grid-nav {
	grid-area: nav;
}

.grid-main {
	grid-area: main;
}

.grid-contact {
	grid-area: contact;
}

.grid-footer {
	grid-area: footer;
}
