html, body {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    position: relative;
    background-color: $color-white;
}


// structure
.main-content {
    position: relative;
    margin-top: 100vh;
    padding: 0 $gap / 2 $footer;
    z-index: 2;
    background-color: $color-white;
}

.container-content {
    max-width: (800 / 16) * 1em;
}



@media (min-width: $bp-m) {
    .site-container {
        display: grid;
        grid-template-columns: 15em 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'header .'
            'header main'
            'header footer';
        grid-column-gap: $gap;
    }

    .site-header {
        grid-area: header;
    }

    .site-footer {
        grid-area: footer;
    }

    .main-content {
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'resume'
            'contact';
        grid-column-gap: $gap;
    }

    .resume {
        grid-area: resume;
    }

    .timeline {
        grid-area: timeline;
    }

    .contact {
        grid-area: contact;
    }
}


@media (min-width: $bp-m) {
    .main-content {
        padding: 0 $gap 7em;
        @include fluid(padding-left, 43em, 100em, 2em, 10em);
    }
}



/* common flexbox classes */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.position {
    @include fluid(font-size, 20em, 68em, 0.875em, 1.125em);
    display: block;
    letter-spacing: 3px;
    text-transform: lowercase;
    font-weight: 900;
    color: $color-black;
    opacity: 0;
    transform: translateY(1em);
    // transition: opacity 0.3s ease 1.125s, transform 0.3s ease 1.125s;

    &.reveal {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease 1.125s, transform 0.3s ease 1.125s;
    }
}


// experience
.experience-block {
	margin-bottom: 5em;

	@media (min-width: $bp-bg) {
		margin-bottom: 13em;
	}
}


.experience-header {
    margin-bottom: 1em;

    .header-group {
        padding-bottom: 0.5em;
    }

    .headline-xs {
        margin-bottom: 0.75em;
        color: $color-gray;
    }

    .headline-sub {
        color: $color-gray;
    }

    @media (min-width: $bp-bg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 3em;

        .header-group {
            padding-bottom: 0;
        }

        .headline-sub {
            margin-bottom: 0.25em;
        }

        .headline-xs {
            margin-bottom: 0.5em;
        }
    }
}


.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    position: relative;
    text-align: center;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    transition: opacity 0.2s ease, transform 0.2s ease;

    &.in-view {
        opacity: 1;
        transform: scale3d(1, 1, 1);

    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 2em;
        right: 0;
        top: calc(50% - 0.5px);
        width: calc(100% - 4em);
        height: 1px;
        background-color: $color-gray;
        z-index: -2;
    }

    .headline-sub {
        position: relative;
        margin: 0;
        font-family: $rubik;
        font-weight: 700;
        letter-spacing: 0;
        color: $color-gray;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: -1.5em;
            width: calc(100% + 3em);
            height: calc(100% + 2px);
            background-color: $color-white;
            z-index: -1;
        }
    }


    @media (min-width: $bp-bg) {
        margin-bottom: 13em;
    }
}



// contact section
.contact {
    padding: 2.5em 0;

    .project {
        max-width: 51em;

        .flex-row {
            justify-content: space-between;
        }

        .flex-child {
            width: calc(50% - 0.4em);
        }
    }
}

button,
input,
textarea {
    border: none;
    border-radius: 0;
}


// buttons
.submit {
    display: block;
    width: 100%;
    max-width: (160 / 14)*1em;
    padding: (8/14) * 1em 0;
    text-align: center;
    border: 1px solid $color-blue;
    border-radius: 2px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

    &:focus {
        outline: 1px solid $color-orange;
        border-color: $color-orange;
    }

    &:hover {
        border-color: $color-orange;
        color: $color-orange;
    }
}



.site-footer {
    width: 100%;
    padding: $gap / 4;
    background-color: $color-white;

    ul {
        position: relative;
        z-index: 2;
    }

    li {
        display: inline-block;
        margin: 0 1em 0 0;
    }

    a {
        color: $color-black;

        &:hover {
            color: $color-orange;
        }
    }


    @media (min-width: $bp-m) {
        padding-bottom: 1em;
        padding-left: 0;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        li {
            &:first-of-type {
                order: 1;
                align-self: center;
                margin-right: (8 / 12) * 1em;
                font-size: 12px;
            }

            &:last-of-type {
                order: 0;
                margin-right: 0;
                line-height: 1.5;
                color: $color-black;
                font-size: 1em;
                font-family: $rubik;
                font-weight: 400;
            }
        }
    }
}
