$rubik: 'Rubik', sans-serif; // 3,4,5,7,9
$open-sans: 'Open Sans', sans-serif;


body {
	font-family: $open-sans;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	color: $black;
}

// headlines
[class*='title-'] {
	display: block;
	margin: 0 0 1em;
	font-family: $rubik;
  font-weight: 700;
  font-style: normal;
  color: black;
}
.title-intro {
	@include fluid(font-size, 20em, 68em, 1.625em, 4em);	
	font-weight: 900;
}

.title-l {
	@include fluid(font-size, 20em, 68em, 1.25em, 3em);	
}

.title-s {
	@include fluid(font-size, 20em, 68em, 1em, 2.25em);	
}

// links 
a {
	color: blue;
	background-color: transparent;
	text-decoration: none;
	transition: color 0.2s ease-out;
	&:hover,
	&:focus {
		color: red;
		text-decoration: none;
	}
	&:hover,
	&:visited,
	&:active,
	&:focus {
		outline: 0;
	}
}

p {
	margin: 0 0 1em;
	@include fluid(font-size, 20em, 68em, 0.875em, 1em);	
}
// misc
b,
strong {
	font-weight: bold;
  font-weight: 600;
}

i {
	font-style: italic;
}