$rubik: 'Rubik', sans-serif; // 3,4,5,7,9
$open-sans: 'Open Sans', sans-serif;


body {
	font-family: $open-sans;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	color: $color-black;
}

// headlines
[class*='title-'] {
	display: block;
	margin: 0 0 1em;
	font-family: $rubik;
	font-weight: 700;
	font-style: normal;

	a  {
		color: $color-black;
	}
}

[class*='headline-'] {
	display: block;
	margin: 0;
	line-height: 1;
	font-weight: 400;

	a  {
		color: $color-black;
	}
}

.title-intro {
	@include fluid(font-size, 20em, 68em, 2.5em, 4em);
	font-weight: 900;
}

.title-l {
	@include fluid(font-size, 20em, 68em, 1.75em, 2.75em);
}

.title-m {
	line-height: 1;
}

.title-m,
.headline-m {
	@include fluid(font-size, 20em, 68em, 1em, 1.75em);
	margin: 0;
	letter-spacing: 1px;
}

.title-s,
.headline-s {
	@include fluid(font-size, 20em, 68em, 1em, 1.25em);
	margin: 1.5em 0 0.5em;
	font-family: $rubik;
	font-weight: 500;
	letter-spacing: 1px;
}

.headline-xs {
	@include fluid(font-size, 20em, 68em, 0.75em, 1.125em);
	font-weight: 300;
	text-transform: lowercase;
	letter-spacing: 3px;
}

.headline-sub {
	@include fluid(font-size, 20em, 68em, 0.75em, 0.9em);
	//font-weight: 300;
	letter-spacing: 1px;
}

// links
a {
	background-color: transparent;
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:hover,
	&:visited,
	&:active,
	&:focus {
		outline: 0;
	}
}

p {
    a {
        position: relative;
        color: $color-black;

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0.125em;
            left: 0;
            right: 0;
            width: 100%;
            height: 0.25em;
            opacity: 0.2;
        }

        &::after {
            z-index: -2;
            background-color: $color-blue;
        }

        &::before {
            z-index: -1;
            background-color: $color-orange;
            transform: scale3d(0, 0, 0);
            transform-origin: left bottom;
            transition: transform 0.15s ease;
        }

        &:hover {
            color: $color-black;

            &::before {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}

p,
li {
	margin: 0 0 1em;
	@include fluid(font-size, 20em, 68em, 0.875em, 1.125em);
	line-height: 1.7;
}

// misc
b,
strong {
    font-weight: bold;
    font-weight: 600;
}

i {
    font-style: italic;
}
