// contact section
.contact {
    padding: 2.5em 0;

    .project {
        max-width: 51em;

        .flex-row {
            justify-content: space-between;
        }

        .flex-child {
            width: calc(50% - 0.4em);
        }
    }
}

button,
input,
textarea {
    border: none;
    border-radius: 0;
}


// buttons
.submit {
    display: block;
    width: 100%;
    max-width: (160 / 14)*1em;
    padding: (8/14) * 1em 0;
    text-align: center;
    border: 1px solid $color-blue;
    border-radius: 2px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

    &:focus {
        outline: 1px solid $color-orange;
        border-color: $color-orange;
    }

    &:hover {
        border-color: $color-orange;
        color: $color-orange;
    }
}


input,
textarea {
    width: 100%;
    margin: 0 0 0.8em;
    padding: 0.5em 0.875em;
    //box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    -webkit-appearance: none;
    @include fluid(font-size, 20em, 68em, 0.875em, 1em);
    border: 1px solid $color-gray;
    border-radius: 2px;
    color: $color-blue;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

    &:focus {
        outline: 1px solid $color-orange;
        border-color: $color-orange;
    }
    @include placeholder {
        font-size: 1em;
        line-height: 1;
        color: $color-gray;
    }
}

textarea {
    display: block;
}


label {
  &:not(.placeholder) {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 0.75em;
    color: $color-black;
    text-transform: lowercase;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;

    &.visible {
      opacity: 1;
    }
  }

  &.placeholder {
    position: absolute;
    top: 9px;
    left: 1em;
    padding: 0;
    font-size: 1em;
    color: $color-gray-1dark;

    &.filled {
      visibility: hidden;
    }
  }
}

.hide {
    display: none!important;
}
