.site-footer {
    width: 100%;
    padding: $gap / 4;
    background-color: $color-white;


    li {
        display: inline-block;
        margin: 0 1em 0 0;
    }

    a {
        color: $color-black;
    }


    @media (min-width: $bp-m) {
        padding-bottom: 1em;
        padding-left: 0;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        li {
            &:first-of-type {
                order: 1;
                align-self: center;
                margin-right: (8 / 12) * 1em;
                font-size: 12px;
            }

            &:last-of-type {
                order: 0;
                margin-right: 0;
                line-height: 1.5;
                color: $color-black;
                font-size: 1em;
                font-family: $rubik;
                font-weight: 400;
            }
        }
    }
}
