.site-footer {
  width: 100%;
  padding: $gap $gap $gap / 2;
  background-color: $color-white;
  text-align: center;


  li {
    display: block;
    margin: 0 1em;
    font-size: 0.875em;
  }

  a {
    color: $color-black;
  }


  @media (min-width: $bp-m) {
    text-align: right;

    li {
      display: inline-block;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
