.site-nav {

}

.nav-container {
  position: sticky;
  top: 0;
  width: $nav-width;
  height: 10vh;
  padding: 1em;
}

.nav-item {
  display: block;
  padding: 0.5em 0;
  margin-bottom: 1em;
  line-height: 1;
}
.grid-container {
  //transform: translateX(- $nav-width);
}
