.res-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: white;
  .title-s {
    margin: 0;
  }
}

.resume {
  margin-top: 0;

  > section {
    padding-top: 5em;
  }
}

.res-contact {
  text-align: center;
}


[class*='stage-'] {
  position: relative;
  padding-left: $nav-width;

  .stage {
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 4em 1em 1em 0;
    z-index: 1;
    background-color: $blackest;
  }
}

.dates {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 14em;
  left: 0;
  bottom: 0;
  width: $timeline-width;
  line-height: 1;
  border-left: 1px solid $gray;
  font-size: 70%;

  span {
    display: block;
    padding: 0.5em 0.75em;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 0.5em;
      background-color: $gray;
    }
  }
}

.employer {
  order: 1;

  .title-l {
    margin: 0;
  }
}

.project {
  display: flex;
  flex-flow: column nowrap;
  padding: 4em 1em 1em;

  h2 {
    margin: 0 0 0.5em;
    line-height: 1;
    font-weight: 700;
    text-transform: initial;

    a {
      color: $gray;
    }

    span {
      display: inline-block;
      text-indent: -9999em;
      width: 5px;
      height: 5px;
      background-color: red;
    }
  }
}

@media (min-width: $bp-res) {
  .res-header {
    flex-flow: row wrap;
    align-items: bottom;
  }
}
