.res-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: white;
  .title-s {
    margin: 0;
  }
}

.resume {
  margin-top: 0;
}

.res-contact {
  text-align: center;
}


[class*='stage-'] {
  position: relative;

  .stage {
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 1em 1em 1em 0;
    z-index: 1;
    background-color: white;
  }
}

.dates {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 12em;
  bottom: 0;
  width: $timeline-width;
;
  line-height: 1;
  background-color: aliceblue;
  font-size: 70%;

  span {
    display: block;
  }
}

.employer {
  order: 1;

  .title-l {
    margin: 0;
  }
}

.project {
  display: flex;
  flex-flow: column nowrap;
  padding: 4em 1em 1em 5em;

  h2 {
    margin: 0 0 0.5em;
    line-height: 1;
    font-weight: 700;
    text-transform: initial;

    a {
      color: $black;
    }

    span {
      display: inline-block;
      text-indent: -9999em;
      width: 5px;
      height: 5px;
      background-color: red;
    }
  }
}

@media (min-width: $bp-res) {
  .res-header {
    flex-flow: row wrap;
    align-items: bottom;
  }
}
