.res-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: white;
  .title-s {
    margin: 0;
  }
}

.resume {
  margin-top: 0;

  > section {
    padding-top: 5em;
  }
}

.res-contact {
  text-align: center;
}


[class*='stage-'] {
  position: relative;
  margin-bottom: 6em;
  padding: 0 1em 0 $nav-width;

  .stage {
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 4em 1em 1em 0;
    z-index: 1;
    background-color: $blackest;
  }
}

.dates {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 8.5em;
  left: 0;
  bottom: 0;
  width: $timeline-width;
  padding: 1em 0;
  line-height: 1;
  border-left: 1px solid $gray;
  font-size: 70%;

  span {
    display: block;
    padding: 0.5em 0.75em;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 0.5em;
      background-color: $gray;
    }
  }
}

.employer {
  order: 1;

  .title-l {
    margin: 0;
  }
}

.project {
  width: 100%;
  max-width: 64em;
  padding: 6em 1em 1em 0;

  header {
    margin-bottom: 1em;
  }

  .title-m {
    margin: 0 1.5em 0 0;
    line-height: 1;
    font-weight: 700;
    text-transform: initial;
  }
}


.project-details {
  position: relative;
  max-width: 51em;

  &.intro {
    padding-top: 2em;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.5em;
  }

  li {
    margin: 0 1.5em 0 0;
    font-size: 0.875em;
    color: $gray;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.project-link {
  margin-top: 0.5em;
  font-size: 0.875em;
  text-transform: lowercase;
  color: $gray;

  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    font-size: 80%;
    fill: $gray;
  }
}


.content-cols {
  columns: 3 200px;
  column-gap: 3em;
}

@media (min-width: $bp-res) {
  .res-header {
    flex-flow: row wrap;
    align-items: bottom;
  }
}
