* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  background-color: white;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #4A4A4A;
}

header,
section {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: rgb(74, 74, 74);
  margin: 0;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: #4A4A4A;
}

[class*="title-"] {
  display: block;
  margin: 0px 0px 1em;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.title-intro {
  font-size: 1.625em;
}

@media screen and (min-width: 20em) {
  .title-intro {
    font-size: calc(1.625em + 2.375 * (100vw - 20em) / 48);
  }
}

@media screen and (min-width: 68em) {
  .title-intro {
    font-size: 4em;
  }
}

html,
body {
  height: 100%;
  min-width: 100%;
  background-color: white;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: white;
  top: 0;
  left: 0;
}

.logo {
  margin: auto;
}

.resume {
  position: relative;
  margin-top: 100vh;
  z-index: 1;
  background-color: white;
}

.res-header {
  display: -webkit-flex;
  position: -webkit-sticky;
  top: 0px;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0;
}

@media (min-width: 30em) {
  .res-header {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: bottom;
    -ms-flex-align: bottom;
    align-items: bottom;
  }
}