.screen-reader-text,
.visually-hidden {
  clip-path: inset(50%);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  overflow-wrap: normal !important;
}

.screen-reader-text:focus,
.visually-hidden:focus {
  background-color: var(--color-focus-bg);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
  clip-path: none !important;
  color: var(--color-focus-text);
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

html,
body {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--color-bg);
  transition:
    background-color var(--dur-slow) ease,
    color var(--dur-slow) ease;
}

@supports (animation-timeline: scroll()) {
  body {
    timeline-scope: --showcase-tl, --footer-tl;
  }

  .main-content {
    view-timeline-name: --showcase-tl;
  }
}

svg {
  transition: fill var(--dur-base) var(--ease);
}

.icon {
  display: block;
  width: 1.5rem;
  height: auto;
}

.main-content {
  position: relative;
  padding: 0 1em;
  z-index: var(--z-above);
  scroll-timeline: --scroll-container;
}

.container {
  width: min(100%, var(--container-width));
  margin: 0 auto;

  @media (width >= 50em) {
    width: min(78vw, var(--container-width));
    margin: 0;
  }

  @media (width >= 62em) {
    margin: 0 auto;
  }
}

@media (width >= 50em) {
  .main-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 100vh;
    padding: 0 1.5em 1.5em;
  }
}

.container-content {
  max-width: 50em;
}
